@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

:root {
  /* --primary: #cf1717;
  --secondary: #e7b731; */
  --primary: #4d67e9;
  --secondary: #58bffa;
  --bg: #080808;
  --heading: #efefef;
  --text: #9f9f9f;
  --button-text: #e7e7e7;
  --white: #ffffff;
  --black: #000000;
  --border: #202020;
  --card-bg: #131313;

  --gradient-bg: #1f2c6e;

  --testimonial-hover: #00131f;

  --green: #2df3a7;
  --green-light: #70d7b1;

  --success: #41d257;
  --error: #db3939;
}

* {
  font-family: "Poppins";
}

body {
  background-color: var(--bg);
}

nav {
  font-weight: 500;
}

#menu {
  height: calc(100vh - 72px);
}

form {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--border);
}

input,
select,
textarea {
  width: 100%;
  padding: 10px 14px;
  color: var(--white);
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  appearance: none;
}

input:focus,
select:focus,
textarea:focus {
  border: 1px solid var(--primary);
}

@theme {
  --shadow-step:
    inset 0px 0px 45px 2px var(--primary), 0px 0px 45px 2px var(--secondary);
  --shadow-step-mobile:
    inset 0px 0px 25px 1px var(--primary), 0px 0px 25px 1px var(--secondary);
    --shadow-logo: inset 0px 0px 45px 2px var(--primary);
    --shadow-logo-hover: 0px 0px 45px 2px var(--primary);
}
